* {
  margin: 0;
  padding: 0;
}

.landing-page {
  background: url(../images/h_img.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  font-size: 50px;
}
.services {
  background: url(/src/images/s_image.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
p{
    font-size: 13px;
}
/* .service1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

} */
.contact-us {
  background-image: url(/src/images/c_image.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.design1{
    display: none;
}
.dev2{
    display: none;
}
.pro2{
    display: none;
}
.port{
    position: relative;
}
.cont{
    position: absolute;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}
.cont:hover .overlay{
    opacity: .7;
}
